<head>
    <link rel="stylesheet" href="_template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <div class="wrapper-top">
            <div class="wrapper-profile-top content">
                <div class="wrapper-left">
                    <h1 class="first-name header">{{ resume.profile.first_name }}</h1>
                    <h1 class="last-name header">{{ resume.profile.last_name }}</h1>
                    <div class="meta header">
                        <span class="function">{{ resume.profile.function }}</span>
                        <span class="age">{{resume.profile.age}} Years Old</span>
                    </div>
                </div>
                <div class="wrapper-right">
                    <img src="{{ resume.profile.photo }}" />
                </div>
            </div>
            <div class="wrapper-profile-bottom content">
                <div class="summary">
                    <div class="summary-item">
                        <h2>Professional profile</h2>
                        <p>
                            {{ resume.summary.text }}
                        </p>
                    </div>
                </div>
                <div class="contact">
                    <h2>contact</h2>
                    <p>
                    <ul>
                        <li><object class="svg" data="images/icons/Mail.svg" type="image/svg+xml" width="24"
                                height="24"></object> {{ resume.contact.email }}</li>
                        <li><object class="svg" data="images/icons/Phone.svg" type="image/svg+xml" width="24"
                                height="24"></object> {{ resume.contact.phone }}</li>
                        <li><object class="svg" data="images/icons/Address.svg" type="image/svg+xml" width="24"
                                height="24"></object> {{ resume.contact.address }}</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="wrapper-bottom">
            <div class="wrapper-inner content">
                <div class="wrapper-left">
                    <h2 class="section-item">Work experience</h2>
                    <div class="experience-wrapper">
                        {% for experience in resume.experience %}
                        <div class="experience">
                            <h3>{{ experience.role }}</h3>
                            <span>{{ experience.start_year }} - {{ "Present" if experience.present else
                                experience.end_year
                                }} @ <span class="label">{{ experience.company }}</span></span>
                            <ul class="competencies">
                                {% for competency in experience.competencies %}
                                <li>{{ competency }}</li>
                                {% endfor %}
                            </ul>
                            {% if resume.config.visibility.techonology_per_experience == "True" %}
                            <ul class="technologies">
                                {% for technology in experience.technologies %}
                                <li class="label">{{ technology }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="section-item">Outside of work</h2>
                    <p>
                        {{ resume.personal }}
                    </p>
                </div>
                <div class="wrapper-right">
                    <div class="sidebar-item">
                        <h2>Languages</h2>
                        <ul>
                            {% for language in resume.languages %}
                            <li>{{ language.name }} ({{ language.proficiency }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar-item">
                        <h2>Education</h2>
                        <div class="education">
                            {% for education in resume.education %}
                            <div class="education-item">
                                <div><span>{{ education.field }}</span><span> ({{ education.degree }})</span></div>
                                <span>{{ education.start_year }} - {{ "Present" if education.present else
                                    education.end_year }} @ <span class="label">{{ education.institution
                                        }}</span></span>

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <h2>Skills</h2>
                        <div class="skills">
                            {% for skill in resume.skills %}
                            <ul class="skill-item">
                                <li>{{ skill }}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <h2>Technologies</h2>
                        <div class="technologies">
                            {% for technology in resume.technologies %}
                            <ul class="technology-item">
                                {% if technology is mapping %}
                                <li>
                                    <span>{{ technology.name }}</span>
                                    <span class="sub-technology">({{ technology.sub |join(", ") }})</span>

                                </li>
                                {% else %}
                                <li>{{ technology }}</li>
                                {% endif %}
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-item">
                        <h2>Links</h2>
                        <div class="links">
                            {% for link in resume.links %}
                            <ul class="link-item">
                                <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        Array.from(document.getElementsByClassName('svg')).forEach(el => {
            el.addEventListener('load', (el) => {
            });
        })
    </script>

    <style>
        :root {
            --accent-color: {{ resume.config.colors.accent_color.strip('"') }};
            --foreground-color: {{ resume.config.colors.foreground_color.strip('"') }};
            --background-color: {{ resume.config.colors.background_color.strip('"') }};
        }
    </style>
</body>